<div class="container-big-card">
  <div class="big-card-photo">
    <a href="">
      <img
        src="https://image.api.playstation.com/vulcan/ap/rnd/202306/0116/d422957079819aae9a9c79fd465e91ed0b5883f217d3c7d7.jpg"
        alt=""
        height="200px"
      />
    </a>

    <div class="big-card-title">
      <h1><a href="">Lançamento da expansão de Cyberpunk 2077!</a></h1>
    </div>

    <div class="big-card-description">
      <p>
        <a href=""
          >Novo update tras retrabalhos no jogo base, e adição da esperada
          DLC</a
        >
      </p>
    </div>
  </div>
</div>
